
body {
  background-color: #FFFFFF;
}
.box1 {
  width: 90%;
  border: 0;
  margin-left: 50px;
  text-align: center;
}
.box2  {
  background-color: #EEEEEE;
  text-align: center;
}
.box3 {
  background-color: #7EE5DA;
  height: 80px;
}
.box4{
  background-color: #70CCC2;
  font-size:- 2px;
  height: 80px;
}
.box5{
  text-align: center;
  background-color: #62B3AA;
  height: 80px;
}
